#root {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.form {
  height: auto;
  min-height: 50vh;
  max-width: 90%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/* NavigationBar */

.navigationbar {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Footer */

.footer {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  color: #7efff9;
  background-color: #515151;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  color: inherit;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.footer address {
  flex-basis: 100%;
  padding: 10px;
  margin: 0;
}

@media (width <= 380px) {
  .footer {
    justify-content: flex-start;
  }
}

/* Log Page */

.log-page {
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #dee2e6;
}

.log-title {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.log-title h1,
.log-title h3 {
  background: linear-gradient(90deg, #04f6fa, #7909f0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
  margin: 0 5px;
  text-align: start;
}

.log-form {
  flex-basis: 40%;
  min-height: inherit;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}

/* Login Form && Create Account Form */

.form-p {
  width: 100%;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin: 0 5px;
}

.pilotos-form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pilotos-form a {
  text-decoration: none;
  color: #000;
}

@media (width < 515px) {
  .log-title {
    flex-basis: 100%;
    height: 50vh;
  }

  .log-form {
    min-height: 50vh;
    height: auto;
    flex-basis: 100%;
    margin: 0 auto;
    border-radius: 3px;
  }

  .form-p {
    height: inherit;
  }
}

/* fin Login Form && Create Account Form   */

/* Inicio page */

/* header */

.header {
  min-height: 60vh;
}

.fondo {
  min-height: inherit;
  background-image: url("/img/responsive.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-title {
  text-align: start;
}

.header-title h1 {
  color: white;
}

.header-title h5 {
  color: grey;
}

/* fin header */

/* section introduccion */

.introduccion {
  max-height: 40vh;
  height: 40vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduccion h1 {
  color: #7efff9;
}

.introduccion h4 {
  color: #515151;
}

/* fin section introduccion */

/* section links */

.links {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-card {
  margin: 5px 0;
  flex-basis: 48%;
  text-decoration: none;
  color: #000;
}

.link-card-body {
  min-height: 110px;
}

.link-card img {
  max-height: 240px;
  object-fit: cover;
  mask-image: linear-gradient(black 90%, transparent);
}

@media (width < 575px) {
  .links {
    flex-direction: column;
  }

  .link-card-body {
    min-height: 80px;
  }
}

/* fin section links */

/* section total */

.total {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.total-title {
  margin: 10px 0;
  text-align: left;
}

.total-title h5 {
  color: #515151;
}

/* fin section total */

/* CardsCarousel */

.totales-carousel {
  width: 80%;
  margin: 30px auto;
}

.carousel-card-group {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.carousel-card {
  flex: 1 1 30%;
  min-height: 180px;
  max-height: 220px;
  min-width: 10%;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  box-sizing: border-box;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #7efff9;
  color: #515151;
}

.carousel-card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-card-body > * {
  margin-bottom: 5px;
}

@media (width < 650px) {
  .carousel-card-group {
    min-height: 576px;
    flex-direction: column;
  }
  .carousel-card {
    min-width: 100%;
    max-height: 180px;
  }
}

/* fin CardsCarousel */

/* fin inicioPAge */

/* Avion Form */

.avion-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* fin Avion Form */

/* Horas Form */

.horas {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horas section {
  padding: 10px;
}

/* section itinerario */

.itinerario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itinerario-item {
  flex-basis: 18%;
}

@media (width < 768px) {
  .itinerario-item:first-child {
    flex-basis: 100%;
  }

  .itinerario-item {
    flex-basis: 48%;
  }
}

/* fin itinerario section */

/* utils section */

.utils {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.utils .utils-form-group {
  flex-basis: 48%;
}

@media (width < 675px) {
  .utils .utils-form-group {
    flex-basis: 100%;
  }
}

/* fin utils section */

/* section  tiempos-de-vuelo */

.tiempos-de-vuelo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avionBtn {
  margin: 0 5px;
  max-height: 38px;
}

.tiempos-vuelo-item {
  flex-basis: 100%;
}

@media (width > 475px) {
  .tiempos-vuelo-item:first-child {
    flex-basis: 60%;
  }

  .tiempos-vuelo-item:nth-child(2) {
    flex-basis: 15%;
  }

  .tiempos-vuelo-item:last-child {
    flex-basis: 15%;
  }
}

/* fin section tiempos-de-vuelo */

/* section discriminacion-tiempos */

.discriminacion-tiempos {
  display: flex;
  flex-wrap: wrap;
}

.discriminacion-tiempos > h2 {
  margin: 20px;
}

.input-group {
  margin: 0px 5px;
  flex-basis: 32%;
  width: auto;
}

@media (width < 900px) {
  .input-group {
    flex-basis: 48%;
  }
}

@media (width < 620px) {
  .input-group {
    flex-basis: 100%;
  }
}

/* fin section discriminacion-tiempos */

/* sin contenido component */

.sin-contenido {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 1px solid #000;
  border-radius: 10px;
}
